IDC_SMTP_USERNAME=matheuslcarrijo10@gmail.com
IDC_SMTP_PASSWORD=replace-with-gmail-app-password
IDC_EMAIL_FROM=matheuslcarrijo10@gmail.com
IDC_EMAIL_SENDER_NAME=FGVcemif / FGV-EAESP
# IDC_EMAIL_REPLY_TO=matheus.carrijo@fgv.br
